@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
html {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}
body {
    background-color: #fefae0;
}
h1 {
    font-size: 3rem;
}
.inputs {
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.inputs button {
    font-family: 'Roboto Mono', monospace;
    margin: 1rem;
    border: .2rem solid black;
    border-radius: 1rem;
    width: 7rem;
    background: rgb(255, 208, 0);
    box-shadow: 5px 5px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    text-align: center;
    transition: all .03s ease;
}

.inputs button:hover {
  background: rgb(255, 224, 86);
  box-shadow: 3px 3px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
}

.inputs button:active, .inputs button:focus{
  background: rgba(255, 224, 86, 0.834);
  transition: all .05s ease;
  outline: none;
  box-shadow: 0 0 rgb(69, 69, 69), inset 3px 3px rgb(125, 104, 7);
}

.results, .scores{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scores .scoreboard {
    flex-shrink: 0;
    min-width: 200px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.scoreboard .div {
    margin: 1rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: #fefae0;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid black;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }

  .modal button {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin: 1rem;
    border: .2rem solid black;
    border-radius: 0.4rem;
    width: 7rem;
    background: rgb(255, 208, 0);
    box-shadow: 5px 5px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    text-align: center;
    transition: all .03s ease;
}

.modal button:hover {
  background: rgb(255, 224, 86);
  box-shadow: 3px 3px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
}

.modal button:active, .inputs button:focus{
  background: rgba(255, 224, 86, 0.834);
  transition: all .05s ease;
  box-shadow: 0 0 rgb(69, 69, 69), inset 3px 3px rgb(125, 104, 7);
}